<div>
  <div class="container">
    <div class="row">
      <h2 class="col-2 text-center text-white align-self-start bg-secondary mt-4">ジャンル内イベント一覧</h2>
      <table class="table table-light table-hover">
        <thead class="thead-light">
          <tr class = text-cente>
            <th></th>
            <th>イベント名</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <td></td>
            <td><%= link_to project.name, public_project_path(project) %></td>
            <td>¥<%= project.price.to_s(:delimited) %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>