<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>イベント名</th>
      <th>イベント内容</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
     <tr>
       <td><%= attachment_image_tag project, :image_id, format: 'jpg', fallback: "no_image.jpeg",size: "100x100" %></td>
       <td><%= link_to project.name,public_project_pasth(project) %></td>
       <td><%= project.description %></td>
     </tr>
    <% end %>
  </tbody>
</table>
