<table>
    <thead>
        <tr>
            <th>企画名</th>
            <th>企画内容</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="project">
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, public_project_path(project) %></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
    </tbody>
</table>