  <div class = "col-3">
    <% if project.genre.is_valid == true %>
      <%= link_to public_project_path(project.id), class: "btn-link", :style=>"color:#0099FF;" do %>
        <%= attachment_image_tag(project, :image, size: "180x130", fallback: "no_image.jpg") %><br>
        <%= project.name %>
      <% end %>

      <% if project.is_active == true %>
        <p>¥<%= project.price.to_s(:delimited) %></p>
      <% elsif project.is_active == false %>
        <p class="soldout">売り切れ中</p>
      <% end %>

    <% end %>
  </div>